.melodyPane {
  height: calc(60% - 2px);
  display: flex;
  background-color: rosybrown;
}

.paneLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-right: 1px solid var(--mantine-color-gray-2);
}

.paneLeftTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paneLeftBottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paneRight {
  flex: 1;
}
