.rhythmPane {
  height: calc(40% - 2px);
  display: flex;
  background-color: royalblue;
}

.paneLeft {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-right: 1px solid var(--mantine-color-gray-2);
}

.paneLeftTop {
  display: flex;
  flex-direction: column;
}

.paneRight {
  flex: 1;
}

.instControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.instControlRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 144px;
}
