.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20;
  height: var(--mantine-studio-melody-unit-height);
  background-color: var(--mantine-color-teal-5);
  border: 1px solid var(--mantine-color-teal-7);
  border-radius: 2px;
}

.container[data-selected='true'] {
  filter: brightness(90%);
}

.head {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
}
