.container {
  position: relative;
  height: calc(
    100vh -
      (
        var(--mantine-studio-header-height) + var(--mantine-studio-main-top-height) +
          var(--mantine-studio-main-bottom-height)
      )
  );
}

/* splitPane section */
.splitPane {
  position: relative;
  height: calc(100% - var(--mantine-studio-main-middle-composition-footer-height));
  background-color: greenyellow;
}

.splitter {
  height: 4px;
  background-color: var(--mantine-color-gray-4);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* scrollLeftBar section */
.scrollLeftBarSection {
  height: var(--mantine-studio-main-middle-composition-footer-height);
  background-color: white;
  padding-left: 310px;
  border-top: 1px solid var(--mantine-color-gray-2);
}

.scrollLeftBar {
  height: 24px;
  overflow-x: scroll;
}

.scrollLeftBar > div {
  width: var(--mantine-studio-total-width);
  height: 1px;
}
