.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}

/* .container[data-selected='true'] {
  filter: brightness(90%);
} */

.head {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  cursor: col-resize;
}
